---
import Layout from "@/layouts/Layout.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHubIcon from "@/icons/GitHub.astro";
import MailIcon from "@/icons/Mail.astro";
import ProjectsIcon from "@/icons/Projects.astro";
import ContactIcon from "@/icons/Contact.astro";
import BriefcaseIcon from "@/icons/Briefcase.astro";
import MeIcon from "@/icons/Me.astro";
import LinkedInIcon from "@/icons/LinkedIn.astro";
import DownloadIcon from "@/icons/Download.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import ContactForm from "@/components/ContactForm.astro";
import AboutMe from "@/components/AboutMe.astro";
import Ticket from "@/components/Ticket.astro";
import "@/style.css";
---

<Layout
  title="Francesco Fava Portfolio - Software Developer with 3 years of experience."
  description="Hire Francesco Fava for the development of your website or app."
>
  <main>
    <Ticket />

    <!--  <SectionContainer class="py-32 pb-24 relative">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-6 mt-20 lg:mt-20"
      >
        <span class="animate-blurred-fade-in"
          >Hey, I am <span class="text-5xl md:text-7xl lg:text-8xl name"
            >Francesco</span
          ></span
        >
        <img
          class="rounded-full lg:size-72 size-52 lg:absolute lg:top-[65px] lg:right-[-12px] md:absolute md:top-16 md:right-48 z-[-2] absolute top-10 right-[80px] animate-blurred-fade-in"
          src="/images/ReadyPlayerMe-Avatar.webp"
          alt="francesco photo"
        />
      </h1>

      <h2
        class="text-white/90 text-xl lg:text-xl text-wrap max-w-[700px] animate-slide-in-top"
      >
        <span> +2 years of experience.</span>
        <span class="text-yellow-200/90">
          Full Stack Software Developer.</span
        ><br />
        <span class="text-white/90 text-lg"
          >From Italy, living in Málaga, Spain.</span
        >
        <span class="text-white/90 text-lg">
          Creating unique applications.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap animate-slide-in-left">
        <SocialPill href="https://www.linkedin.com/in/francesco-fava/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/France167">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:favafrancesco5@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          favafrancesco5@gmail.com
        </SocialPill>
        <SocialPill href="/documents/Francesco-Resume.pdf" download>
          <DownloadIcon class="size-4 md:size-6" />
          Download CV
        </SocialPill>
      </nav>
    </SectionContainer> -->

    <SectionContainer id="experience">
      <h2
        class="text-white text-3xl lg:text-4xl font-semibold mb-8 flex gap-x-3 items-center"
      >
        <BriefcaseIcon class="size-9 text-white" />
        Working experience
      </h2>

      <Experience />
    </SectionContainer>

    <SectionContainer id="about">
      <h2
        class="text-white text-3xl lg:text-4xl font-semibold mb-8 flex gap-x-3 items-center"
      >
        <MeIcon class="size-9 text-white" />
        About Me
      </h2>
      <AboutMe />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2
        class="text-white text-3xl lg:text-4xl font-semibold mb-8 flex gap-x-3 items-center"
      >
        <ProjectsIcon class="size-9 text-white" />
        Projects
      </h2>

      <Projects />
    </SectionContainer>
    <SectionContainer id="contact">
      <h2
        class="text-white text-3xl lg:text-4xl font-semibold mb-8 flex gap-x-3 items-center"
      >
        <ContactIcon class="size-9 text-white" />
        Contact me
      </h2>
      <h5
        class="text-white/80 text-lg lg:text-xl mb-8 flex gap-x-3 items-center opacity-85"
      >
        Please fill out the form below to get in touch with me!
      </h5>
      <ContactForm />
    </SectionContainer>
  </main>
</Layout>

<script>
  const $ = (selector: string) => document.querySelector(selector);

  const wrapper = $(".wrapper") as HTMLElement;
  const ticket = $(".ticket") as HTMLElement;

  const { width, height } = wrapper.getBoundingClientRect();
  const halfWidth = width / 2;
  const halfHeight = height / 2;

  wrapper.addEventListener("mousemove", (event: MouseEvent) => {
    const rect: DOMRect = ticket.getBoundingClientRect();

    const offsetX = event.clientX - rect.left;
    const offsetY = event.clientY - rect.top;

    const rotationX: number = -((offsetY - halfHeight) / halfHeight) * 12;
    const rotationY: number = -((halfWidth - offsetX) / halfWidth) * 12;

    ticket.style.transition = "none";
    ticket.style.transform = `rotateX(${rotationX}deg) rotateY(${rotationY}deg)`;
  });

  wrapper.addEventListener("mouseenter", () => {
    ticket.style.transition = "transform .3s ease-in-out";
  });

  wrapper.addEventListener("mouseleave", () => {
    ticket.style.transform = "scale(1)";
    ticket.style.transition = "transform .3s ease-in-out";
  });
</script>
