---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ButtonUp from "@/components/ButtonUp.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import "@fontsource-variable/orbitron";
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/code.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
    >
      <SpeedInsights />
    </div>
    <Header />
    <slot />
    <ButtonUp />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family:
      "Onest Variable" system-ui,
      sans-serif;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Orbitron Variable", sans-serif;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h3,
  a,
  h5 {
    font-family: "Orbitron Variable", sans-serif;
  }

  p,
  li {
    font-family: "Onest Variable", sans-serif;
  }

  .name {
    background: #f3f3f3;
    background: linear-gradient(to right, #f3f3f3 0%, #44229e 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  header nav a,
  ul li a {
    background: #fffaf4;
    -webkit-background-clip: text;
    font-family: "Orbitron Variable", sans-serif;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transition: transform 0.3s;
  }

  header nav a:hover,
  ul li a:hover {
    background: #f3f3f3;
    background: linear-gradient(to right, #f3f3f3 0%, #44229e 100%);
    font-weight: bold;
    transform: scale(1.1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  footer a {
    font-family: "Orbitron Variable", sans-serif;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
